.example-spacer {
    flex: 1 1 auto;
  }
  
.navbar {
    background: #fd4556;
    color: #0F1822;
    height: 80px;
    font-family: "FF Mark W05", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    position:sticky;
  }

.larger-button{
    width: 60px; /* Increase button width */
    height: 60px; /* Increase button height */
    }

.logo{
   width: 100%; 
   height: auto; /* auto adjusts height according to the width*/
  }

.add-agent{
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight:bold;
 }

.mat-mdc-raised-button:not(:disabled){
    color:#fd4556;
    background:  linear-gradient(180deg, #0F1822 0%, #0b1118 0.01%, #0f182286  100%);
}

