.navbar {
    background: rgb(15, 25, 35);
    color: #0F1822;
    height: 80px;
    font-family: "FF Mark W05", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    position:sticky;
  }

.larger-button{
    width: 60px; /* Increase button width */
    height: 60px; /* Increase button height */
    }

.logo{
   width: 100%; 
   height: auto; /* auto adjusts height according to the width*/
  }

.add-agent{
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight:bold;
    position:absolute;
    right: 1%;
 }

.label{
  color:#fd4556;
  position: relative;
  left:0.2%;
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: #0F1822;
  color:#fd4556
}

