
#text{
    text-align: center;
    position: absolute;
    right:2rem;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 80%;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding-left: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items:flex-start;
    left :620px;
}

ul>li>a{
    text-decoration: none;
    font-size: 100%;
    color:#f9f9f9;
    padding-left: 10px;
}

ul>li{
    padding-top: 5px;
}


footer {
    background-color: rgb(15, 25, 35);
    padding: 20px;
    bottom:0;
    right:0;
    left:0;
    text-align: center;
    position: absolute;
}

.footer-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}