.text{
    left : 1.5%;
    font-size: 100%;
    // padding-top: 15%;
}

.agent-container{
    height: 10%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-top: 80px;
    font-size: 150px;
    align-items: left;
}